/* CSS Document */

h1 {color: #7FBCD2;}
h2 {color: #87BED2;}
h3 {color: #A5F1E9;}
h4 {color: #B2F3EC;}
h5 {color: #E1FFEE;}
h6 {color: #E3FFEF;}
body{
	background-color:#FFEEAF;
	color:dodgerblue
}
p {color: #7FBCD2;}